<div class="container">
  <h1>Conversor de Moeda</h1>

  <div class="option-container">
    <input [(ngModel)]="opcaoEscolhida" type="radio" name="moeda" value="BRL-USD">
    <span>Real » Dólar </span><br>

    <input [(ngModel)]="opcaoEscolhida" type="radio" name="moeda" value="BRL-EUR">
    <span>Real  » Euro</span><br>
 
    <input [(ngModel)]="opcaoEscolhida" type="radio" name="moeda" value="BRL-PEN">
    <span>Real » Sol do Peru</span><br>

    <input [(ngModel)]="opcaoEscolhida" type="radio" name="moeda" value="BRL-PHP">
    <span>Real  » Peso Filipino</span><br>
   </div>

  <div class="input-container">
    <span>Insira um valor :</span>
    <input [(ngModel)]="valor" type="number">
    <button (click)="calcularConversao()">Calcular</button>
  </div>

  <div class="result-container">
    <span>Resultado</span>
    <input [(ngModel)]="resultado" type="number" disabled>
  </div>

</div>

